[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "blog.vperes.com/themes/terminal"]
	path = blog.vperes.com/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "vblog2/themes/terminal"]
	path = vblog2/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/hugo-bearcub"]
	path = themes/hugo-bearcub
	url = https://github.com/clente/hugo-bearcub
